extends layout/main.pug

block content
    include nav.pug
    main.container(role='main')
        .d-flex.align-items-center.p-3.my-3.text-white-50.bg-purple.rounded.box-shadow
            img.mr-3(src='https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-outline.svg', alt='', width='48', height='48')
            .lh-100
                h6.mb-0.text-white.lh-100 Bootstrap
                small Since 2011
        .my-3.p-3.bg-white.rounded.box-shadow
            h6.border-bottom.border-gray.pb-2.mb-0 Recent updates
            .media.text-muted.pt-3
                img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
                p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                    strong.d-block.text-gray-dark @username
                    |             Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            .media.text-muted.pt-3
                img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1', alt='')
                p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                    strong.d-block.text-gray-dark @username
                    |             Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            .media.text-muted.pt-3
                img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1', alt='')
                p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                    strong.d-block.text-gray-dark @username
                    |             Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            small.d-block.text-right.mt-3
                a(href='#') All updates
        .my-3.p-3.bg-white.rounded.box-shadow
            h6.border-bottom.border-gray.pb-2.mb-0 Suggestions
            .media.text-muted.pt-3
                img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
                .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                    .d-flex.justify-content-between.align-items-center.w-100
                        strong.text-gray-dark Full Name
                        a(href='#') Follow
                    span.d-block @username
            .media.text-muted.pt-3
                img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
                .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                    .d-flex.justify-content-between.align-items-center.w-100
                        strong.text-gray-dark Full Name
                        a(href='#') Follow
                    span.d-block @username
            .media.text-muted.pt-3
                img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
                .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                    .d-flex.justify-content-between.align-items-center.w-100
                        strong.text-gray-dark Full Name
                        a(href='#') Follow
                    span.d-block @username
            small.d-block.text-right.mt-3
                a(href='#') All suggestions
