nav.navbar.navbar-expand-md.fixed-top.navbar-light.bg-light.box-shadow
    a.navbar-brand(href='#') FitURL
    button.navbar-toggler.p-0.border-0(type='button', data-toggle='offcanvas')
        span.navbar-toggler-icon
    #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/')
                    | Home 
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='#') Features
            li.nav-item
                a.nav-link(href='#') Profile
            li.nav-item
                a.nav-link(href='#') Pricing
            li.nav-item
                a.nav-link(href='#') APIs
        button.btn.btn-light.my-2.my-sm-0(type='submit') Sign Up
        button.btn.btn-light.my-2.my-sm-0(type='submit') Sign In
