script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
script.
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
script(src='/plugins/popper/popper.min.js')
script(src='/plugins/bootstrap/js/bootstrap.js')
script(src='/plugins/holder/holder.js')
script(src='/js/script.js')